<footer class="footer">
  <p>Created with <a href="https://github.com/rhuss/cc-sdd">Spec-Driven Development</a> and Claude. Assisted with <span style="color: #e25555;">&#10084;</span> by <a href="https://github.com/rhuss">Roland Hu&szlig;</a></p>
</footer>
